<%- include ('../partials/header') %>
<div class="container my-5">
    <header class="jumbotron">
        <h1>Welcom to my blog</h1>
    </header>

    <div>
        <p>This is my blog</p>
    </div>
    </div>
<%- include ('../partials/footer') %>